.weather-widget {
  background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.5));
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid white;
  filter: drop-shadow(10px 10px 10px rgb(19, 10, 75));
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  &__form {
    bottom: -32px;
    position: absolute;
  }
  &__input {
    padding: 0.5rem;
    border: none;
    width: 180px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: white;
  }
  &__city {
    font-size: 2em;
  }
  &__desc {
    font-size: 0.8em;
    opacity: 0.6;
  }
  &__temperature span {
    font-size: 3em;
    font-weight: bold;
  }
  p {
    margin: 0;
  }
}
